* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, rgb(151, 90, 10), rgb(216, 146, 53));
}

.login {
    border: 2px solid rgb(65, 45, 2);
    border-radius: 5px;
}